%fieldset
  %legend
    Useful Links
  .container
    %img.left#link_image{:src => "assets/links.jpg"}
    %ul.left
      %li.useful_link
        = link_to "Currency Converter", "http://www.xe.com/", :target => "_blank"
      %li.useful_link
        = link_to "Time Zones", "http://www.timeanddate.com/worldclock/", :target => "_blank"
      %li.useful_link
        = link_to "Distance Converter", "http://www.unitconversion.org/unit_converter/length.html", :target => "_blank"
      %li.useful_link
        = link_to "Weight Converter", "http://www.unitconversion.org/unit_converter/weight.html", :target => "_blank"
      %li.useful_link
        = link_to "Temperature Converter", "http://www.unitconversion.org/unit_converter/temperature.html", :target => "_blank"
      %li.useful_link
        = link_to "World Ports", "http://www.ports.com/", :target => "_blank"
      %li.useful_link
        = link_to "World Atlas", "http://www.worldatlas.com/", :target => "_blank"
      %li.useful_link
        = link_to "World Map", "http://www.worldmap.org/", :target => "_blank"
      %li.useful_link
        = link_to "Search Air Cargo Status", "http://www.cargoserv.com/", :target => "_blank"
      %li.useful_link
        = link_to "How To Calculate CBM?", "http://www.wtxglobal.com/meter", :target => "_blank"
      %li.useful_link
        = link_to "Tracking by airfeight at SGN airport", "http://www.tansonnhatcargo.com.vn/", :target => "_blank"
      %li.useful_link
        = link_to "Track and Trace System", "http://www.track-trace.com/", :target => "_blank"
