%fieldset
  %legend
    Useful Links
  .container
    = link_to image_tag("links.jpg", :id => "link_image", :class => "left"), "http://google.com", :target => "_blank"
    %ul.left.useful_link
      %li
        = image_tag "links/currency.png", :size => "35x35"
        = link_to "Currency Converter", "http://www.xe.com/", :target => "_blank"
      %li
        = image_tag "links/time.png", :size => "35x35"
        = link_to "Time Zones", "http://www.timeanddate.com/worldclock/", :target => "_blank"
      %li
        = image_tag "links/distance.png", :size => "35x35"
        = link_to "Distance Converter", "http://www.unitconversion.org/unit_converter/length.html", :target => "_blank"
      %li
        = image_tag "links/weight.png", :size => "35x35"
        = link_to "Weight Converter", "http://www.unitconversion.org/unit_converter/weight.html", :target => "_blank"
      %li
        = image_tag "links/temperature.png", :size => "35x35"
        = link_to "Temperature Converter", "http://www.unitconversion.org/unit_converter/temperature.html", :target => "_blank"
      %li
        = image_tag "links/world_port.png", :size => "35x35"
        = link_to "World Ports", "http://www.ports.com/", :target => "_blank"
      %li
        = image_tag "links/world_map.png", :size => "35x35"
        = link_to "World Map", "http://www.worldmap.org/", :target => "_blank"
      %li
        = image_tag "links/air_cargo.png", :size => "35x35"
        = link_to "Search Air Cargo Status", "http://www.cargoserv.com/", :target => "_blank"
      %li
        = image_tag "links/track.png", :size => "35x35"
        = link_to "Tracking by airfreight at SGN airport", "http://www.tansonnhatcargo.com.vn/", :target => "_blank"
      %li
        = image_tag "links/trace.png", :size => "35x35"
        = link_to "Track and Trace System", "http://www.track-trace.com/", :target => "_blank"
= javascript_include_tag 'cufon-replace'
