%fieldset
  %legend Quota
  = form_tag "/quota" do
    .field_row
      .label
        = label_tag :name
      = text_field_tag :name
    .field_row
      .label
        = label_tag :company_name
      = text_field_tag :company_name
    .field_row
      .label
        = label_tag :company_address
      = text_area_tag :company_address
    .field_row
      .label
        = label_tag :telephone
      = text_field_tag :telephone
    .field_row
      .label
        = label_tag :name
      = text_field_tag :name
    .field_row
      .label
        = label_tag :name
      = text_field_tag :name
    .field_row
      .label
        = label_tag :name
      = text_field_tag :name
    .field_row
      .label
        = label_tag :name
      = text_field_tag :name
    .field_row
      .label
        = label_tag :name
      = text_field_tag :name
    .field_row
      .label
        = label_tag :name
      = text_field_tag :name
