%fieldset
  %legend
    Services
  .container.services
    %h3 Shipping quality is job no. 1
    .sea_freight.left
      %h3 Sea Freight
      = image_tag "services/sea_freight.png"
    .air_freight.left
      %h3 Air Freight
      = image_tag "services/air_freight.png"
    %div{ :style => "clear: both" }
    .truck.left
      %h3 Truck
      = image_tag "services/truck.png"
    .broker.left
      %h3 Customer Broker
      = image_tag "services/broker.png"
    %div{ :style => "clear: both" }
= javascript_include_tag 'cufon-refresh'
