%fieldset
  %legend
    Tools
  %p
    We, at V-Mart Logistics, make sure that our clients and partners always have access to the appropriate tools and equipment for your specific needs.
  .tools
    .dry_container
      .left
        = image_tag "dry_container.jpg"
      .left
        = link_to "Dry Container's dimension", "/container_size.pdf"
    .unit_load_device
      .left
        = image_tag "dry_container.jpg"
      .left
        = link_to "Unit Load Device", "/container_size.pdf"
    .incoterm
      .left
        = image_tag "dry_container.jpg"
      .left
        = link_to "Incoterms 2010", "#"
