%fieldset
  %legend
    Tools
  %p
    We, at V-Mart Logistics, make sure that our clients and partners always have access to the appropriate tools and equipment for your specific needs.
  .tools
    .dry_container
      .left
        = link_to "<h3>Dry Container's dimension</h3>".html_safe, "/container_size.pdf", :target => "_blank"
        = link_to image_tag("dry_container.jpg", :size => "400x400"), "/container_size.pdf", :target => "_blank"
      .left.download
        = link_to image_tag("download.png", :size => "210x110"), "/container_size.pdf", :target => "_blank"

    .unit_load_device
      .left
        = link_to "<h3>Unit Load Device</h3>".html_safe, "/Unit Load AIR Containers.pdf", :target => "_blank"
        = link_to image_tag("unit_load_device.jpg", :size => "400x400"), "/Unit Load AIR Containers.pdf", :target => "_blank"
      .left.download
        = link_to image_tag("download.png", :size => "210x110"), "/Unit Load AIR Containers.pdf", :target => "_blank"

    .incoterm
      .left
        = link_to "<h3>Incoterms 2010</h3>".html_safe, "/Incoterms_2010_chart.pdf", :target => "_blank"
        = link_to image_tag("incoterms-2010.jpg", :size => "400x400"), "/Incoterms_2010_chart.pdf", :target => "_blank"
      .left.download
        = link_to image_tag("download.png", :size => "210x110"), "/Incoterms_2010_chart.pdf", :target => "_blank"
= javascript_include_tag 'cufon-refresh'
