!!!
%html
  %head
    = javascript_include_tag :application
    = stylesheet_link_tag :application
  %body
    #container
      #logo
        = image_tag ("logo.jpg")
      #content
        .close_btn
        .ajax_content
          = yield
      #content_surrogate
        .truck
      %ul#nav_bar
        %li.nav_item
          = link_to "About", "#"
        %li.nav_item
          = link_to "Service", "#"
        %li.nav_item
          = link_to "Customer Tools", "#"
        %li.nav_item
          = link_to "Driver Sources", "#"
        %li.nav_item
          = link_to "Contact", "#"
