!!!
%html
  %head
    = javascript_include_tag :application
    = stylesheet_link_tag :application
    %title VMart Logistics
  %body
    #container
      #content
        .close_btn
        .ajax_content
          = yield
      #content_surrogate
        .truck
      #nav_bar
        .sub_menu_container
          %ul.sub_menu{:item => "About Us"}
            %li.sub_menu_item
              = link_to "History", "/history"
            %li.sub_menu_item
              = link_to "Networks/Markets", "/networks_and_market"
          %ul.sub_menu{:item => "Services"}
            %li.sub_menu_item
              = link_to "Air Freight", "/history"
            %li.sub_menu_item
              = link_to "Networks Market", "/networks_and_market"
        %ul.nav_bar_container
          %li.nav_item
            = link_to "About Us", "/about", :class => "item"
          %li.nav_item
            = link_to "Services", "/services", :class => "item"
          %li.nav_item
            = link_to "Customer Tools", "/tools", :class => "item"
          %li.nav_item
            = link_to "Links", "/links", :class => "item"
          %li.nav_item
            = link_to "Contact", "/contact", :class => "item"
          %li.nav_item
            = link_to "Documents", "/documents", :class => "item"
          %li.nav_item
            = link_to "Quote", "/quote", :class => "item"
    #logo
      = image_tag ("logo.jpg")
